:root {
  --word-max-size: calc(30vh + 30vw);
  --letter-size: calc(5.5vh + 5.5vw);
  --letter-font-size: calc(4vh + 4vw);
  --letter-padding-top: calc(.7vh + .7vw);
  --dark: #353c48;
  --black: #000000;
  --white: #FFFFFF;

  --border-radius: 6px;

  --panel-skin {
    border-radius: var(--border-radius);
    box-shadow: 0 0 6px color(var(--black) alpha(-50%)), 0 0 12px color(var(--black) alpha(-80%));
    background-color: var(--white);
  }
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Dosis', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  color: var(--white);
  font-size: 4rem;
  letter-spacing: .2rem;
  margin: 1rem;
}

h2 {
  color: var(--white);
  font-size: 3rem;
  letter-spacing: .2rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}

p {
  font-size: 1.5rem;
  margin: 1rem;
  color: var(--white);
}

.app {
  position: relative;
  background-color: var(--dark);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.app__page {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;

  & > p {
    color: var(--white);
    font-size: 2rem;
  }
}

form {
  text-align: left;

  & label,
  & input {
    display: block;
    width: 100%;
  }

  & > div {
    margin: 10px 0;
  }

  & input {
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    border: 0;
    box-shadow: 0;
    font-size: 1rem;
  }

  & input[type='submit'] {
    margin-top: 35px;
  }

  & label {
    margin-bottom: 5px;
    color: var(--white);
  }
}

.score-board {
  @apply --panel-skin;
  width: 200px;
  height: 80px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.75rem;
  text-align: center;

  @media screen and (min-width: 600px) {
    font-size: 2.5rem;
    text-align: left;
    transform: none;
    left: 20px;
    top: 20px;
    width: 240px;
    height: 110px;
  }
}

.score-board__items {
  display: flex;
  width: 100%;
  height: 100%;
}

.score-board__item {
  text-align: center;
  padding: 5px;
  width: 50%;
  line-height: 1.35;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &:nth-of-type(1) {
    border-right: 1px solid var(--dark);
  }

  &:nth-of-type(2) {
    border-left: 1px solid var(--dark);
  }
}

.score-board__player {
  color: var(--dark);
  font-weight: 400;
  letter-spacing: .05rem;
  margin: 0;
  font-size: .5em;
}

.score-board__score {
  color: var(--dark);
  font-weight: 400;
  margin: 0;
  font-size: 1em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.word {
  width: var(--word-max-size);
  height: var(--word-max-size);
  margin: auto;
  position: relative;
  top: -40px;
  animation: spin 30s linear infinite;

  @media screen and (min-width: 600px) {
    top: 0;
  }
}

.letter {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  color: var(--white);
  font-size: var(--letter-font-size);
  width: var(--letter-size);
  height: var(--letter-size);
  text-align: center;
  padding: var(--letter-padding-top) 0 0 0;
  margin: 0;
  transform: translate3d(-50%, -50%, 0);
  line-height: 1;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

.letter--highlighted {
  background-color: var(--white);
  color: var(--dark);

  &:hover {
    background-color: var(--white);
  }
}

.button {
  cursor: pointer;
  margin: auto .5rem;
  text-decoration: none;
  color: var(--dark);
  font-weight: 600;
  letter-spacing: .05rem;
  padding: 10px 18px;
  font-size: 1rem;
  @apply --panel-skin;
  border: 0;
}

.button--disabled {
  opacity: .4;
}

.start {
  text-align: center;

  & form {
    display: none;
  }

  & p {
    margin-bottom: 2.25rem;
  }
}

.start--create-room {
  & button {
    display: none;
  }

  & form {
    display: block;
  }
}

.content {
  width: 100%;
  max-width: 300px;
  color: var(--white);
  text-align: center;
}
