extends layout.pug

block content
  .app
    .app__page
      .content
        h2 About Lettero
        p Oh, words. So complex and full of surprises. We can hardly make head or tail of them, right? Literally.
        p WordSnake is a tiny little game allowing players to compete against each other discovering words that are displayed in a less conformist fashion. In a circle. Looping around. Scattered all over.
        p Enjoy :).
