html
  head
    title WordRail
    link(href="https://fonts.googleapis.com/css?family=Dosis", rel="stylesheet")
    script(src="/index.js")
  body
    script.
      window.__initialRoomState = !{JSON.stringify(room)};
      window.__env = !{JSON.stringify(env)};
    script.
      domReady(function() {
        attachFastClick.attach(document.body);
        Elm.Main.fullscreen({
          roomId: __initialRoomState.id,
          playerId: '!{playerId}',
          host: __env.host,
          envPort: __env.port
        });
      });
