extends layout.pug

block content
  .container
    .start.content
      h1 WordSnake
      button.button Create room
      form(action="/rooms/create", method="post")
        div
          label(for="roomId") Room name
          input(type="text", id="roomId", name="roomId", required)
        div
          label(for="players0") Player 1
          input(type="text", id="players0", name="players[0]", required)
        div
          label(for="players1") Player 2
          input(type="text", id="players1", name="players[1]", required)
        div
          input(type="submit")

block scripts
  script.
    domReady(start.homePage);
