extends layout.pug

block content
  .app
    .app__page
      div.start
        h1 Lettero
        p Playground for the social wordnerd
        nav
          a.button(href="/theroom") Play
          a.button(href="/about") About

block scripts
  script.
    domReady(start.homePage);
