:root {
  --cooldown-duration: 3s;
  --round-duration: 5s;

  --border-radius: 10px;
  --nav-circle-radius: 160px;
  --nav-circle-radius-mobile: 120px;
  --word-max-size: calc(90vmin);
  --word-offset-mobile: 0;

  --letter-size: calc(6.4vh + 6.4vw);
  --letter-font-size: calc(4.8vh + 4.8vw);

  --dark: #054766;
  --red: #E83613;
  --orange: #FF590D;
  --black: #000000;
  --white: #FFFFFF;
  --faint-white: rgba(255, 255, 255, .05);
  --transparent-white: rgba(255, 255, 255, .2);

  --background-letter-opacity: .05;

  --default-letter-rotation: 18deg;

  --standard-box-shadow: 0 0 6px color(var(--black) alpha(-80%)), 0 0 12px color(var(--black) alpha(-90%));
  --white-box-shadow: 0 0 6px color(var(--white) alpha(-60%)), 0 0 12px color(var(--white) alpha(-80%));

  --standard-padding: .5rem 1.5rem;

  --root-z-index: 0;
  --page-z-index: 2;
  --nav-z-index: 1000;
  --background-z-index: 1;
}

@custom-media --desktop (min-width: 600px);


/* App */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.app {
  background: var(--dark);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: var(--root-z-index);
  animation: fade-in .3s forwards;
}

.app__page {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  z-index: var(--page-z-index);
}

.app__page-content {
  width: 100%;
  max-height: 100%;
  overflow: auto;

  & > * {
    margin: auto;
  }
}


/* Background */

@keyframes background-float {
  0% {
    transform: translate3d(-calc(50% - 1.25%), -calc(50% + 5%), 0) rotate(var(--default-letter-rotation));
  }

  100% {
    transform: translate3d(-calc(50% + 1.25%), -calc(50% - 5%), 0) rotate(var(--default-letter-rotation));
  }
}

.background {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: var(--background-letter-opacity);
  z-index: var(--background-z-index);
}

.background__letter {
  backface-visibility: hidden;
  position: absolute;
  font-size: var(--letter-font-size);
  transform: translate3d(-50%, -50%, 0) rotate(24deg) scale(1);
  animation: background-float 2s ease-in-out infinite alternate forwards;
}


/* ScoreBoard */

.score-board {
  background: var(--faint-white);
  border-radius: var(--border-radius);
  position: absolute;
  bottom: 30px;
  padding: .75rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  text-align: center;

  @media (--desktop) {
    text-align: left;
    transform: none;
    padding: 1rem;
    left: auto;
    right: 1.5rem;
    bottom: 1.5rem;
  }
}

.score-board__items {
  width: 100%;
  height: 100%;
}

.score-board__item {
  text-align: center;
  padding: 4px;
  line-height: 1.35;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:first-of-type) {
    border-top: 1px solid var(--transparent-white);
  }
}

.score-board__mark {
  display: none;
  width: 1.5rem;
  position: relative;
  text-align: center;

  @media (--desktop) {
    display: inline;
    top: -.75rem;
  }
}

.score-board__player {
  flex: 1;
  text-align: center;
}

.score-board__score {
  font-size: 1.25rem;
  width: 30px;
  flex: 0;
  text-align: right;

  @media (--desktop) {
    font-size: 2rem;
  }
}


/* Word */

@keyframes word-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.word {
  width: var(--word-max-size);
  height: var(--word-max-size);
  margin: auto;
  position: relative;
  animation: word-spin 30s linear infinite;
  transition: opacity .3s;
}

.word--disabled {
  opacity: var(--background-letter-opacity);
  transition: opacity var(--cooldown-duration);
}

.word__letter {
  border-radius: 50%;
  position: absolute;
  color: var(--white);
  font-size: var(--letter-font-size);
  width: var(--letter-size);
  height: var(--letter-size);
  text-align: center;
  padding: calc(var(--letter-size) / 2 - var(--letter-font-size) / 2) 0 0 0;
  margin: 0;
  transform: translate3d(-50%, -50%, 0);
  line-height: 1;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

.word__letter--highlighted {
  background-color: var(--white);
  color: var(--dark);

  &:hover {
    background-color: var(--white);
  }
}

.word__letter--marked {
  background: none;
  border: 3px solid var(--white);
  transform: scale(1.2);
  transition: transform .3s;
}


/* Button */

.button {
  display: inline-block;
  cursor: pointer;
  margin: auto .5rem;
  color: var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--white);
  box-shadow: var(--standard-box-shadow);
  padding: var(--standard-padding);
  border: 0;
}

.button--disabled {
  opacity: .4;
}


/* Icon */

.icon {
  width: 60px;
  height: 60px;
  padding: 15px;

  & > svg {
    width: 100%;
    height: 100%;
  }
}


/* Nav */

.nav {
  position: relative;
  z-index: var(--nav-z-index);
  animation: fade-in .3s;
}

.nav--hidden {
  display: none;
}

.nav__item {
  cursor: pointer;
  width: var(--nav-circle-radius-mobile);
  height: var(--nav-circle-radius-mobile);
  top: calc(- var(--nav-circle-radius-mobile) / 2);
  position: fixed;
  border-radius: 50%;
  background: var(--faint-white);
  fill: var(--white);
  transition: all .1s;

  & > * {
    width: 50%;
    height: 50%;
    position: relative;
    top: 45%;
    left: 45%;
  }

  &:hover {
    background: var(--white);
    fill: var(--dark);
  }

  @media (--desktop) {
    width: var(--nav-circle-radius);
    height: var(--nav-circle-radius);
    top: calc(- var(--nav-circle-radius) / 2);
  }
}

.nav__item--left {
  left: calc(- var(--nav-circle-radius-mobile) / 2);

  @media (--desktop) {
    left: calc(- var(--nav-circle-radius) / 2);
  }
}


/* Basic Content */

.basic-content {
  text-align: center;
  max-width: 600px;
  padding: 3rem 1rem;
  overflow: hidden;
}

.basic-content__nav {
  margin-top: 1rem;

  @media (--desktop) {
    margin: 2rem;
  }
}


/* Spinner */

.spinner {
  margin: auto;
  text-align: center;

  & svg {
    fill: var(--white);
    animation: spin 1s ease-in-out infinite;
  }
}

.spinner--boot {
  position: relative;
  top: 50%;
  transform: translate3d(0, -50%, 0);

  & svg {
    fill: var(--dark);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}


/* Notification */

.notification {
  cursor: pointer;
  width: auto;
  max-width: 180px;
  min-height: 30px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: var(--standard-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 100;
  background: var(--faint-white);
  border-radius: var(--border-radius);
  transition: all .3s;

  & p {
    margin: 0;
    text-align: center;
  }

  @media (--desktop) {
    top: 50%;
    max-width: 320px;
    min-height: 40px;
  }
}

.notification--active {
  opacity: 1;
  transition: all .3s;
}

.notification--highlighted {
  background: var(--white);
  color: var(--dark);
  box-shadow: var(--standard-box-shadow);
}


/* TickTockTickTock */

.ticktockticktock {
  position: fixed;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  z-index: 5;
}

.ticktockticktock__content {
  position: absolute;
  background: var(--white);
  left: 0;
  top: 0;
  height: 100%;
  transition: width .1s linear;
}


/* Form */

.form {
  text-align: left;
  margin: 1rem auto 0;
  padding: 4.5rem 2.5rem;
  border-radius: var(--border-radius);
  background: var(--faint-white);
  position: relative;
}

.form__notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding: .75rem .5rem;
  background: var(--orange);
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: .05rem;
  text-align: center;
}

.form__content {
  transition: opacity .3s;

  & > * {
    display: block;
    margin: 2rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form--inactive .form__content {
  opacity: .3;
}

.form__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__button {
  cursor: pointer;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--white);
  padding: var(--standard-padding);
  color: var(--dark);
  outline: 0;
  border: 0;
}

.form__button--disabled {
  opacity: .6;
}


/* TextInput */

.textinput {
  display: block;
  border: 0;
  outline: 0;
  padding: 0;
  position: relative;

  &:first-of-type {
    margin-top: 0;
  }
}

.textinput__field {
  outline: 0;
  border: 0;
  display: block;
  width: 100%;
  margin: .25rem auto;
  background: color(var(--white) alpha(5%));
  color: var(--white);
  transition: opacity .5s;
  padding: var(--standard-padding);
  border-radius: var(--border-radius);

  &:focus {
    background: var(--white);
    color: var(--dark);
    transition: all .3s;
  }
}

.textinput__label {
  padding-left: 1.125rem;
  font-size: 1.25rem;
  width: 100%;
  display: block;
  color: var(--white);
  text-align: left;
}

.textinput__remove {
  cursor: pointer;
  opacity: .6;
  transition: opacity .3s;
  position: absolute;
  top: 1px;
  right: 12px;
  font-size: 1.25rem;

  &:hover {
    opacity: 1;
  }
}
