doctype html
html
  head
    title.
      Lettero | A wordgame
    meta(charset='utf-8')
    meta(name='HandheldFriendly', content='True')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Dosis', rel='stylesheet', type='text/css')
  body
    #app
      .spinner.spinner--boot
        svg(width='50', height='50', viewBox='0 0 50 50')
          g(transform='translate(25, 25)')
            circle(cx='0', cy='15', r='3')
            circle(cx='0', cy='-15', r='3')
