doctype html
html
  head
    title.
      Lettero | A wordgame
    meta(charset='utf-8')
    meta(name='HandheldFriendly', content='True')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Dosis', rel='stylesheet', type='text/css')

  body
    script(src='index.js')
