:root {
  --cooldown-duration: 3s;
  --round-duration: 5s;

  --border-radius: 10px;
  --nav-circle-radius: 160px;
  --nav-circle-radius-mobile: 120px;
  --word-max-size: calc(90vmin);
  --word-offset-mobile: 0;
  --letter-size: calc(5.5vh + 5.5vw);
  --letter-font-size: calc(4vh + 4vw);
  --letter-padding-top: calc(.7vh + .7vw);

  --dark: #054766;
  --black: #000000;
  --white: #FFFFFF;
  --faint-white: rgba(255, 255, 255, .05);
  --transparent-white: rgba(255, 255, 255, .2);
  --geometric-typeface: 'Dosis', sans-serif;

  --background-letter-opacity: .05;

  --standard-box-shadow: 0 0 6px color(var(--black) alpha(-80%)), 0 0 12px color(var(--black) alpha(-90%));

  --panel-skin {
    border-radius: var(--border-radius);
    box-shadow: var(--standard-box-shadow);
    background-color: var(--white);
  }

  --root-z-index: 0;
  --page-z-index: 2;
  --nav-z-index: 1000;
  --background-z-index: 1;
}

@custom-media --desktop (min-width: 600px);


/* Base */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--geometric-typeface);
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  color: var(--white);
}

h1 {
  font-size: 3rem;
  letter-spacing: .2rem;
  font-weight: 400;
  text-align: center;
  line-height: .9;

  @media (--desktop) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .2rem;
  text-align: center;

  @media (--desktop) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .2rem;
  text-align: center;

  @media (--desktop) {
    font-size: 2rem;
  }
}

p,
input,
label,
button,
a,
span {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: .05rem;

  @media (--desktop) {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: currentColor;
  font-weight: 600;
  border-bottom: 1px solid currentColor;
}

ul {
  margin-top: 2rem;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

h1,
h2,
h3,
p {
  margin: 1rem 0;

  @media (--desktop) {
    margin: 1.5rem 0;
  }
}


/* App */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.app {
  background: var(--dark);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: var(--root-z-index);
  animation: fade-in .3s forwards;
}

.app__page {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  z-index: var(--page-z-index);
}


/* Background */

@keyframes background-float {
  0% {
    transform: translate3d(-calc(50% - 1.25%), -calc(50% + 5%), 0) rotate(15deg);
  }

  100% {
    transform: translate3d(-calc(50% + 1.25%), -calc(50% - 5%), 0) rotate(15deg);
  }
}

.background {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: var(--background-letter-opacity);
  z-index: var(--background-z-index);
}

.background__letter {
  backface-visibility: hidden;
  position: absolute;
  font-size: var(--letter-font-size);
  transform: translate3d(-50%, -50%, 0) rotate(15deg) scale(1);
  opacity: 1;
  animation: background-float 2s ease-in-out infinite alternate forwards;
}


/* ScoreBoard */

.score-board {
  background: var(--faint-white);
  border-radius: var(--border-radius);
  position: absolute;
  bottom: 30px;
  padding: 6px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  text-align: center;

  @media (--desktop) {
    text-align: left;
    transform: none;
    padding: 18px;
    left: auto;
    right: 20px;
    bottom: 20px;
  }
}

.score-board__items {
  width: 100%;
  height: 100%;
}

.score-board__item {
  text-align: center;
  padding: 4px;
  line-height: 1.35;
  margin: 0;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  &:nth-of-type(2) {
    border-top: 1px solid var(--transparent-white);
  }
}

.score-board__mark {
  width: 24px;
  position: relative;
  text-align: center;

  @media (--desktop) {
    top: -12px;
  }
}

.score-board__player {
  width: 110px;
  text-align: center;
}

.score-board__score {
  font-size: 1.25rem;
  width: 48px;
  text-align: right;

  @media (--desktop) {
    font-size: 2rem;
  }
}


/* Word */

@keyframes word-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.word {
  width: var(--word-max-size);
  height: var(--word-max-size);
  margin: auto;
  position: relative;
  animation: word-spin 30s linear infinite;
  transition: opacity .3s;
}

.word--disabled {
  opacity: var(--background-letter-opacity);
  transition: opacity var(--cooldown-duration);
}

.word__letter {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  color: var(--white);
  font-size: var(--letter-font-size);
  width: var(--letter-size);
  height: var(--letter-size);
  text-align: center;
  padding: var(--letter-padding-top) 0 0 0;
  margin: 0;
  transform: translate3d(-50%, -50%, 0);
  line-height: 1;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

.word__letter--highlighted {
  background-color: var(--white);
  color: var(--dark);

  &:hover {
    background-color: var(--white);
  }
}

.word__letter--marked {
  background: none;
  border: 3px solid var(--white);
  transform: scale(1.2);
  transition: transform .3s;
}


/* Button */

.button {
  display: inline-block;
  cursor: pointer;
  margin: auto .5rem;
  color: var(--dark);
  padding: .5rem 1.5rem;
  @apply --panel-skin;
  border: 0;
}

.button--disabled {
  opacity: .4;
}


/* Icon */

.icon {
  width: 60px;
  height: 60px;
  padding: 15px;

  & > svg {
    width: 100%;
    height: 100%;
  }
}


/* Nav */

.nav {
  position: relative;
  z-index: var(--nav-z-index);
  animation: fade-in .3s;
}

.nav--hidden {
  display: none;
}

.nav__item {
  cursor: pointer;
  width: var(--nav-circle-radius-mobile);
  height: var(--nav-circle-radius-mobile);
  top: calc(- var(--nav-circle-radius-mobile) / 2);
  position: fixed;
  border-radius: 50%;
  background: var(--faint-white);
  fill: var(--white);
  transition: all .1s;

  & > * {
    width: 50%;
    height: 50%;
    position: relative;
    top: 45%;
    left: 45%;
  }

  &:hover {
    background: var(--white);
    fill: var(--dark);
  }

  @media (--desktop) {
    width: var(--nav-circle-radius);
    height: var(--nav-circle-radius);
    top: calc(- var(--nav-circle-radius) / 2);
  }
}

.nav__item--left {
  left: calc(- var(--nav-circle-radius-mobile) / 2);

  @media (--desktop) {
    left: calc(- var(--nav-circle-radius) / 2);
  }
}


/* Basic Content */

.basic-content {
  text-align: center;
  max-width: 600px;
  max-height: 100%;
  overflow: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.basic-content__nav {
  margin-top: 1rem;

  @media (--desktop) {
    margin: 2rem;
  }
}


/* Spinner */

.spinner {
  margin: auto;
  text-align: center;

  & svg {
    fill: var(--white);
    animation: spin 1s ease-in-out infinite;
  }
}

.spinner--boot {
  position: relative;
  top: 50%;
  transform: translate3d(0, -50%, 0);

  & svg {
    fill: var(--dark);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}


/* Notification */

.notification {
  cursor: pointer;
  width: auto;
  max-width: 180px;
  min-height: 30px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 100;
  background: var(--faint-white);
  border-radius: var(--border-radius);

  & p {
    padding: 12px 24px;
    margin: 0;
    text-align: center;
  }

  @media (--desktop) {
    top: 50%;
    max-width: 320px;
    min-height: 40px;
  }
}

.notification--active {
  opacity: 1;
  transition: opacity .3s;
}


/* TickTockTickTock */

.ticktockticktock {
  position: fixed;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  z-index: 5;
}

.ticktockticktock__content {
  position: absolute;
  background: var(--white);
  left: 0;
  top: 0;
  height: 100%;
  transition: width .1s linear;
}


/* Forms */

.form {
  text-align: left;
  max-width: 420px;
  margin: 1rem auto 0;
  padding: 24px;
  border-radius: var(--border-radius);
  background: var(--faint-white);
}

.form__add {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: top;
  background: var(--faint-white);
  color: var(--white);
  outline: 0;
  border: 0;
  position: relative;
  top: 30px;
  left: 4px;

  & span {
    position: relative;
    font-size: 3rem;
    line-height: .6;
  }

  &:hover {
    background: var(--white);
    color: var(--dark);
  }
}

fieldset {
  margin: 0 -.5rem;
  outline: 0;
  border: 0;
  padding: 0;
}

input {
  outline: 0;
  border: 0;
  padding: 10px 15px;
  border-radius: var(--border-radius);
}

.textinput {
  display: inline-block;
  max-width: 120px;
  border: 0;
  outline: 0;
  margin: .5rem;
  padding: 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.textinput__field {
  outline: 0;
  border: 0;
  display: block;
  width: 100%;
  margin: .25rem auto;
  background: color(var(--white) alpha(5%));
  color: var(--white);
  transition: opacity .5s;
}

.textinput__label {
  padding-left: 18px;
  font-size: .75rem;
  width: 100%;
  display: block;
  color: var(--white);
  text-align: left;
}

input[type='submit'] {
  width: 100%;
  margin: 1rem auto 0;
  background: var(--white);
  color: var(--dark);
  box-shadow: var(--standard-box-shadow);
}

input[type='submit']:disabled {
  opacity: .6;
}
